@import "compass/css3";

:root {
    --primary : #61E697;
    --pure : #ffffff;
    --dark : #232326;
}

html {
scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden;
}


body {
    font-family: 'poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: var(--dark);
    position: relative;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 80%, 0 100%); */
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 80%, 0 100%);
    z-index: -1; 
}

.circle {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: 0;
    background: var(--primary);
    border-radius: 80%;
    backface-visibility: hidden;
}


.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav a {
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

header nav a:hover {
    color: var(--primary);
}

.flex {
    display: flex;
}

.item-center {
    align-items: center;
}

.space-between {
    justify-content: space-evenly;
}

header nav {
    padding: 2rem 0;
}

header nav .branding {
    margin-right: 5rem;
}

.btn {
    padding: 0.8rem 3rem;
    font-weight: 400;
    font-size: 1rem;
    border : 2px solid transparent;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-primary {
    background-color: var(--primary);
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}

.hero .left img {
    width: 400px;
    border-radius: 500px;
    margin-top: 8rem;
}

.hero .right {
    color: var(--pure);
}

.hero .right h6 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.hero .right h1 {
    font-size: 2.5rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.hero .right h1 span{
    color: var(--primary);
}

.btn-secondary {
    background: transparent;
    color: var(--primary);
    border-color: var(--primary);
}

.btn-secondary:hover {
    background: var(--primary);
    color: var(--dark);
}

.flex-1 {
    flex: 1;
}

.justify-center {
    justify-content: center;
}

.hero {
    padding-bottom: 3rem;
}

.about .social a img {
    height: 40px;
    margin-right: 10px;
    margin-top: 1rem;
}

.about .social a img:hover {
    transform: scale(1.1); 
    transition: all 0.5s ease-in-out;
}

.about .left img {
    height: 400px;
    border-radius: 1000px;
}

.about .right h1 {
    font-size: 50px;
}

.about .right h1 span {
   color: var(--primary);
}

.about .right h3 {
    font-size: 20px;
    line-height: 3;
}

.about .right p {
    font-size: 20px;
}

.skills {
    background: var(--dark);
    clip-path: polygon(
        74% 7%,
        100% 0,
        100% 35%,
        100% 70%, 
        100% 100%, 
        50% 100%, 
        0 100%, 
        0 70%, 
        0 35%, 
        0 0 );
}

.skills .container {
    padding-top: 100px;
    padding-bottom: 2rem;
}

.skills .section-heading {
    color: var(--pure);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.skills .section-heading span {
    color: var(--primary);
} 

.section-heading + p {
    color: var(--pure);
    text-align: center;
    margin-bottom: 2rem;
}

.back-end {
    color: var(--pure);
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}


.card-wrapper img {
    height: 50px;
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.skills .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    margin-bottom: 1rem;
}

.card:hover {
    transform: scale(1.1); 
    transition: all 0.5s ease-in-out;
}

.skills .card-wrapper .card {
    background: var(--pure);
    padding: 1rem 3rem;
    position: relative;
    text-align: center;
    transition: all 0.3s ease;
}

.skills .card-wrapper .card h2 {
    margin-top: 3rem;
}

.skills .card-wrapper .card:hover {
    background: var(--primary);
}

.slider .slide img {
    height: 350px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.slider .slide img:hover {
    transform: scale(1.1); 
    transition: all 0.5s ease-in-out;
}

.projects h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
    color: var(--dark);
}

.slider .slide {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects .slider-dot .dots {
    list-style-type: none;
    display: flex!important;
    justify-content: center;
}

.projects .slider-dot button {
    font-size: 0;
    width: 8px;
    height: 5px;
    margin-right: 5px;
    border: none;
    outline: none;
    background-color: gray;
    border-radius: 50px;
    cursor: pointer;
}

.projects .dots li.slick-active button {
    background-color: var(--primary);
    width: 16px;
}

.contact .section-heading {
    color: var(--dark);
}

.contact h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
    color: var(--dark);
}

.contact .section-heading span {
    color: var(--primary);
}

.contact .card-wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.contact .card-wrapper .card img {
    height: 100px;
    margin-top: 1rem;
    position:initial;
    margin-left: 6rem;
}

.contact .card-wrapper .card {
   text-align: center;
}

.contact .container {
    padding-bottom: 100px;
}

.contact .input-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin-bottom: 1rem;
}

.contact .input-wrap input {
    margin-top: 2rem;
}

.contact .input-wrap-2 {
    display: flex;
    flex-direction: column;
}

.contact input {
    padding: 1rem;
}

.contact .input-wrap-2 input {
    margin-bottom: 1rem;
}

.contact .input-wrap-2 textarea {
    padding: 1rem;
    margin-bottom: 1rem;
}

.contact .btn-wrapper {
    text-align: center;
}

footer {
    background-color: var(--dark);
    text-align: center;
}

footer img {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

footer .footer-text {
    color: var(--pure);
}

.project-button .project-img{
   height: 10px;
}

.project-buttons {
 margin-top: 1rem;
}

.btn1 {
    padding: 0.8rem 3rem;
    font-weight: 400;
    font-size: 1rem;
    border : 2px solid transparent;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
}

.site-main-wrapper {
    position: relative;
}

.site-main-wrapper .hamberger{
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 11;
    display: none;
}

.site-main-wrapper .hamberger button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.site-main-wrapper .hamberger button img {
    width: 30px;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: var(--primary);
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
}

.open {
    transform: translateX(0);
}

.times {
    position: fixed;
    top: 30px;
    right: 100px;
    background: none;
    border: none;
    outline: none;
}

.times img {
    width: 1.5rem;
}

.mobile-nav ul {
    list-style-type: none;
}

.mobile-nav ul li a {
    color: var(--dark);
    text-decoration: none;
    font-size: 3rem;
}

.mobile-nav ul li {
    margin-bottom: 2rem;
}

#main-nav {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: var(--dark);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1001;
    align-items: center;
}

@media (max-width: 1024px) {
    header #main-nav {
        display: none;
    }

    .site-main-wrapper .hamberger {
        display: block;
    }

    .hero .left img {
        width: 200px;
        margin-right: 2rem;
    }

    .hero .right h1 {
        font-size: 2rem;
    }

    .hero {
        padding-top: 10rem;
        padding-left: 5rem;
    }

    .about .left img {
        height: 300px;
        padding-left: 2rem;
    }

    .skills .card-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:576px) {
    .hero {
        flex-direction: column;
    }

    .hero .left {
        margin-top: -5rem;
        padding-right: 2rem;
    }

    .hero .right {
        padding-top: 5rem;
        text-align: center;
        padding-right: 2rem;
    }  
    
    header {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 95%, 0 100%);
    }

    .container {
        flex-direction: column;
    }

    .about .right {
        text-align: center;
    }

    .about .left img {
        height: 200px;
        padding-left: 2rem;
    }

    .about .right .social {
        justify-content: center;
    }

    .skills {
        clip-path: polygon( 70% 2%, 100% 0, 100% 35%, 100% 70%, 100% 100%, 50% 100%, 0 100%, 0 70%, 0 35%, 0 0 );
    }

    .skills .card-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .btn1 {
        margin-bottom: 1rem;
    }

    .contact .input-wrap {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    .slider .slide img {
        height: 150px;
    }
}

@media screen and (max-width: 320px) {
    .slider .slide img {
        height: 100px;
    }

    .contact .card-wrapper {
        display: flex;
        flex-direction: column;
    }
    .contact .card-wrapper .card img {
         height: 50px; 
        margin-top: 1rem;
        position: initial;
        margin-left: 1rem;
    }
  }

@keyframes stretch {
    0% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(1.5);
    }
    100% {
      transform: scaleX(1);
    }
  }
  
  .stretch-text {
    display: inline-block;
    animation: stretch 2s infinite;
  }
  

  .hero .left img:hover {
    transform: scale(1.1); 
    transition: all 0.5s ease-in-out;
  }